{% block extends %}
    {{ "{% extends 'base_app.html.twig' %}" }}
{% endblock extends %}

{{ "{% block page_title %}" }}
{{ '{% trans %}' }}Create{{ '{% endtrans %}' }} {{ '{% trans %}' ~ entity_singularized|capitalize ~ '{% endtrans %}' }}
{{ "{% endblock %}" }}

{% block body %}
    {{ "{% block page_content %}" }}
    {{ '{{ form_start(form) }}' }}
        {{ '{{ form_widget(form) }}' }}
    <button type="submit" class="btn btn-info">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear {{ '{% trans %}' }}{{ entity_singularized|capitalize }}{{  '{% endtrans %}' }}
    </button>

    {% set hide_edit, hide_delete, edit_button = true, true, false %}
    {{ include('crud/views/others/record_actions.html.twig.twig') -}}
    {{ '{{ form_end(form) }}' }}


{{ "{% endblock %}" }}
{% endblock body %}
